body {
  background-image: url('images/dark.jpg');
}

button {
  margin-top: 100px;
  margin-left: 75px;
  border-radius: 30px;
  background: #4d648d;
  color: #ffffff;
  height: 200px;
  width: 25%;
  font-size: 40px;
  transition-duration: 0.6s;
  display: inline-block;
}
button:hover {
  background: #d0e1f9;
  color:  #4D648D;
}
p {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}